*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(246, 248, 249, 1);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 20px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

header img{
    vertical-align: middle;
}

main{
    width: 70%;
    height: 580px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 1%;
}

section{
    padding: 20px;
}

#buttons-container{
    padding: 10px 20px;
}

.button-style{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.add-task{
    background-color: rgb(71, 173, 241);
    color: white;
}

.add-section{
    color: lightgrey;
    background-color: white;
}

section h2{
    color: rgb(68, 72, 81);
    font-size: 20px;
}

section div{
    padding-top: 12px;
}

.label-container{
    border: 0.5px solid lightgrey;
    padding: 5px;
    border-radius: 12px;
    font-size: 10px;
    color: white;
}

.editorial-style{
    background-color: rgb(69, 171, 234);
}

.q1goals-style{
    background-color: rgb(156, 114, 228);
}

.recruiting-style{
    background-color: rgb(100, 192, 169);
}

.mobile-style{
    background-color: rgb(242, 158, 51);
}

.website-style{
    background-color: rgb(216, 99, 161);
}

.sales-style{
    background-color: rgb(176, 201, 38);
}

span{
    font-weight: 600;
    color: rgb(68, 72, 81);
}

.checkcross-container{
    border: 1px solid;
    border-radius: 100%;
    padding: 2px 3.5px;
    margin-right: 5px;
    font-size: 10px;
    vertical-align: middle;
    width: 10px;
}

.cross{
    border-color: red;
    color: red;
}

.check{
    color: rgb(130, 207, 190);
    border-color: rgb(130, 207, 190);
}