*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(246, 248, 249, 1);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 20px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

header img{
    vertical-align: middle;
}

main{
    width: 70%;
    height: 580px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
}